<!--img src="http://kartashov-ikar.ru/templates/ikar/images/logoikar.png" style="display: block; margin: 20px auto;"-->
<h1 style="font-size: 38px; color: #0d5083; text-transform: uppercase; text-align: center;">Новая заявка</h1>
<p style="text-align: center;">ФИО: <b>{{name}}</b></p>
<p style="text-align: center;">E-mail: <b>{{email}}</b></p>
<p style="text-align: center;">Телефон: <b>{{phone_number}}</b></p>
<p style="text-align: center;">Сообщение: <b>{{message}}</b></p>

<h3 style="font-size: 18px; color: #555; text-transform: uppercase; text-align: center;">UTM метки:</h3>
<p style="text-align: center;">
utm_term: <b>{{utm_term}}</b><br>
utm_content: <b>{{utm_content}}</b><br>
utm_campaign: <b>{{utm_campaign}}</b><br>
utm_medium: <b>{{utm_medium}}</b><br>
utm_source: <b>{{utm_source}}</b></p>