<h1 style="font-size: 32px; color: #333; text-align: center;">НОВАЯ ЗАЯВКА</h1>


<table style="width: 600px; margin: 0px auto;">
	<tr>
		<td style="min-width: 200px; text-align: right;"><b>Страница: </b></td>
		<td> {{title}}</td>
	</tr>
	<tr>
		<td style="min-width: 200px; text-align: right;"><b>ФИО: </b></td>
		<td> {{name}}</td>
	</tr>
	<tr>
		<td style="min-width: 200px; text-align: right;"><b>E-mail: </b></td>
		<td> {{mail}}</td>
	</tr>
	<tr>
		<td style="min-width: 200px; text-align: right;"><b>Телефон: </b></td>
		<td> {{phone}}</td>
	</tr>

</table>

<div style="clear: both; float: none;"></div>

<h3 style="font-size: 16px; color: #333; text-align: center;">Рекламные метки:</h3>
<p style="text-align: center; padding-bottom: 20px;">
	<b>utm_source:</b> {{utm_source}}, <b>utm_medium:</b> {{utm_medium}}, <b>utm_campaign:</b> {{utm_campaign}}, <b>utm_content:</b> {{utm_content}}, <b>utm_term:</b> {{utm_term}}
</p>

