<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3">
        <h1>События</h1>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
        
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
    </div>
    <div class="col-xs-12 col-sm-6 col-md-2">
        <a href="/index.php?r=events/create" class="btn btn-primary mt20 pull-right">+ Создать событие</a>
    </div>
</div>

<table class="table stacktable">
    <tr>
        <td>id</td>
        <td>Название</td>
        <td>Категория</td>
        <td>Дата</td>
        <td>Описание</td>
        <td></td>
    </tr>
    {% for row in events %}
        <tr>
            <td>{{ row.id|e }}</td>
            <td><a href="/index.php?r=events/view&id={{ row.id|e }}">{{ row.name|e }}</a></td>
            <td>{{ row.categoryevents.category }}</td>
            <td>{{ row.date|date('d.m H:i') }}</td>
            <td>{{ row.about }}</td>
            <td><a href="/index.php?r=events/update&id={{ row.id|e }}">edit</a></td>
        </tr>
    {% endfor %}
</table>